@tailwind base;
@tailwind components;
@tailwind utilities;

/* .cards:hover .card:not(:hover) {
    @apply blur-sm transform scale-95;
  }

  @layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
  
    .transform-style-preserve-3d {
      transform-style: preserve-3d;
    }
  
    .backface-hidden {
      backface-visibility: hidden;
    }
  
    .rotate-y-180 {
      transform: rotateY(180deg);
    }
  }

  .pokerbtn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
  }
  
  .pokerbtn:hover::before {
    transform: translateX(0);
  } */